body{
  background-color: rgb(23, 23, 109);
}

header{
  display: flex;
    background-color: rgb(42, 69, 156);
}

  footer{

       background-color: rgb(23, 23, 187);
  }
  .cabecalho_imagem{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      padding: 10px;
  }

         .cabecalho_menu-listaitem{
              display: inline;
              text-transform: uppercase;
              margin-left: 10px;
         }